/* styles.css */

/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Header-Stile */
header {
    padding: 20px;
    text-align: center;
    background: #e8491d;
}

#grad1 {
    background-image: linear-gradient(90deg, #e8491d, #f4c542); 
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffffff;
    outline: white;
    outline-width: 10px;
}

/* Navigationsleiste */
nav {
    display: flex;
    justify-content: center;
    background: #35424a;
    padding: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.1em;
}

nav a:hover {
    background: #e8491d;
    transition: background 0.3s;
}

#overview {
    padding: 20px;
    text-align: left;
}

#overview h2{
    text-align: left;
    margin: 0;
    font-size: 2.5em;
}



/* Footer-Stile */
footer {
    background: #e8491d;
    color: #ffffff;
    text-align: center;
    padding: none;
    position: fixed;
    width: 100%;
    height: 8%;
    bottom: 0;
    display: flex; /* Flexbox zur Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
}

footer p {
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

/* Gemeinsame Eigenschaften für alle Slides */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8491e; /* Hintergrundfarbe für inaktive Slides */
    opacity: 0.5; /* Mache inaktive Slides weniger sichtbar */
    transition: opacity 0.4s ease; /* Sanfter Übergang für die Opazität */
    font-size: 18px;
    border-radius: 15px;
    transition: transform 0.3s ease; /* Sanfter Übergang */
    margin: 0 15px; /* Abstand zwischen den Boxen */
    height: 350px;

}

/* Vergrößern der aktiven Slide */
.swiper-slide-active {
    transform: scale(1.1); /* Vergrößere die aktive Box um 10% */
    z-index: 1; /* Stelle sicher, dass die aktive Box über den anderen liegt */
    background: #e8491e;
    transition: transform 0.4s ease, background 0.4s ease;
    opacity: 0.95;
    
}

.swiper-slide h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    text-align: center;
    height: 0;
}

.swiper-slide p {
    text-align: center;
    padding: 0 10px; /* Abstand innen hinzufügen */
}
  