body {
    background-color: #fdf1e3; /* Leichte Hintergrundfarbe mit einem warmen Ton */
}

.header-gradient {
    background: linear-gradient(to right, #ff5733, #c70039); /* Rot-orientierter Farbverlauf */
}

.footer-gradient {
    background: linear-gradient(to right, #ffc300, #ff5733); /* Gelb-zu-Rot-Farbverlauf */
}

.heading-color {
    color: #ff5733; /* Überschriftenfarbe passend zur Farbpalette */
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
    border-width: 1px;
    border-style: solid;
    border-color: #ff5733; /* Passend zur neuen Farbpalette */
    padding: 15px;
    height: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#bilder img {
    height: 220px; 
    object-fit: cover;
    border-radius: 10px;
}

#overview h2, #teams h2, #milestones h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
